html {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 700;
}

p {
	font-size: 13px;
	margin-bottom: 0;
}

h1 {
	font-size: 13px;
}

h2 {
	font-size: 13px;
	text-align: center;
	margin-bottom: 1%;
}

#wrap {
	width: 40%;
	background-color: #2C2C2C;
	color: #BCB7B7;
	font-family: 'Open Sans', sans-serif;
}

#wrap-icons {
	display: inline-flex;
	width: 100%;
}

.div-icon {
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	margin-top: 5%;
	padding: 0 10%;
}

#wrap-square {
	width: 100%;
	display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
}

.div-square {
	width: 30%;
	margin: 5% 10%;
}

.square {
	background-color: #3A3736;
	border: 1px solid #BCB7B7;
	border-radius: 10px;
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 7% 0;
}

.square p:first-child {
	margin-top: 0;
}

.number {
	font-size: 30px;
	margin: 1%;
	font-weight: 600;
}

.green {
	color: #85BC41;
}

.red {
	color: #E93325;
}

.yellow {
	color: #EBB43E;
}

